:root {
  /* Primary Colors */
  --prax-blue: #0043F1;
  --prax-yellow: #EEC643;
  --black: #141414;

  /* Secondary Colors */
  --mid-black: #333333;
  --background: #EFF0F2;
  --egg-white: #E6E6E3;
}

.footer {
  background-color: var(--black);
  color: var(--egg-white); 
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.footer a {
  color: var(--egg-white);
  text-decoration: none;
  transition: color 0.3s;
}

.footer a:hover {
  color: var(--prax-yellow);
}

.btn-warning {
  background-color: var(--prax-blue) !important;
  border: none;
  color: var(--background);
}

.btn-warning:hover {
  background-color: #e5b836; 
  color: var(--egg-white);
}

.text-warning {
  color: var(--prax-blue) !important;
  font-size: 30px;
}

.first-sec p {
  color: #E6E6E3B3 !important;
}

.list-unstyled li {
  margin-bottom: 20px !important;
}

/* Responsive Design for Footer */

/* Tablet (max-width: 768px) */
@media (max-width: 768px) {
  .footer {
    padding: 20px 10px; /* Adjust padding for tablets */
    flex-direction: column; /* Stack the footer content vertically */
    text-align: center;
  }

  .footer a {
    font-size: 1rem; 
  }

  .text-warning {
    font-size: 24px; 
  }

  .list-unstyled li {
    margin-bottom: 15px;
  }

  .btn-warning {
    font-size: 14px; 
  }
  .res-text{
    text-align: center !important;
  }
}

/* Mobile (max-width: 480px) */
@media (max-width: 480px) {
  .footer {
    padding: 15px 5px;
  }

  .footer a {
    font-size: 0.9rem; 
  }

  .text-warning {
    font-size: 20px; 
  }

  .list-unstyled li {
    margin-bottom: 10px; 
  }

  .btn-warning {
    font-size: 12px; /* Smaller button font size */
  }
  .res-text{
    text-align: center !important;
  }
}
.social-links h3 {
  font-size: 1rem;
  color: rgba(230, 230, 227, 0.7);
  margin-bottom: 10px;
}

.form-label {
    color: var(--egg-white);
    margin-bottom: 15px;
}



/* Useful Links hover animation */
.list-unstyled a {
  position: relative; 
  color: var(--egg-white);
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth color transition */
}

.list-unstyled a::after {
  content: ""; 
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0%; 
  height: 2px; 
  background-color: var(--prax-blue); 
  transition: width 0.3s ease; 
}

.list-unstyled a:hover::after {
  width: 100%; /* Expand underline to full width on hover */
}

.list-unstyled a:hover {
  color: var(--prax-blue); /* Change text color to gold on hover */
}


.form-control {
  background-color: var(--egg-white); 
  color: var(--black);
  border: 1px solid var(--mid-black); 
  border-radius: 10px; 
  padding: 10px;
}

.form-control:focus {
  outline: none; 
  border-color: var(--prax-blue); 
  box-shadow: 0 0 5px var(--prax-blue); 
}
.full-width-divider {
  position: absolute; 
  left: 0;
  right: 0; 
  height: 2px; /* Line thickness */
  background: var(--black);
 /* No margin */
  z-index: 10; 
}
