/* Primary Colors */


:root {
  --prax-blue: #0043F1;
  --prax-yellow: #EEC643;
  --black: #141414;

  /* Secondary Colors */
  --mid-black: #333333;
  --background: #EFF0F2;
  --egg-white: #E6E6E3;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Bold.ttf') format('woff2'),
       url('../fonts/Inter_18pt-Bold.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../fonts/Poppins-Light.ttf') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/Poppins-Medium.ttf') format('woff2');
  font-style: normal;
}

/* Default font size (for larger screens like laptops and desktops) */
h1 {
  font-size: 2.3rem; /* Default font size */
}
.heading{
  font-size: 2.3rem;
  color: var(--prax-blue);
  font-family: "Inter";

}

p {
  font-size: 17px; /* Default font size */
}

/* For tablets and smaller devices (max-width: 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 1.8rem !important; /* Adjust the font size for tablets */
  }

  p {
    font-size: 14px; /* Adjust the font size for paragraphs on tablets */
  }
}

/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  h1 {
    font-size: 1.4rem !important; /* Adjust the font size for mobile */
  }

  p {
    font-size: 12px; /* Adjust the font size for paragraphs on mobile */
  }
}


.carousel-container {
  position: relative;
  width: 100%;
  height: 80vh; 
  overflow: hidden; 
}
.animated-title{
  font-size: 72px;
}

.carousel-item {
  position: relative;
  height: 80vh; /* Set the same height as the container */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Background video styling */
.video-background {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover !important; 
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1; 
  transform: none !important; 
}

/* Content for each carousel item */
.carousel-content {
  text-align: center;
  color: white;
  z-index: 1; 
  padding: 20px;
  white-space: normal;
  will-change: transform, opacity; 
  animation: slide-in-left 5s linear !important; 
  pointer-events: none;
}

.slide-title {
  font-family: "Inter", "Inter Placeholder", sans-serif;
}

/* Title styling */
.slide-title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.5;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Description styling */
.slide-description {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 80%;
  margin: 0 auto;
  font-weight: 300;
  margin-top: 10px;
}

/* Custom arrows */
.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  font-size: 30px;
  color: white;
  cursor: pointer;
  width: 30px;
  
  
}



.slick-prev {
  left: 20px;
}

.slick-next {
  right: 20px;
}

/* Custom Arrow Icon */
.replay-arrow {
  font-size: 30px;
}
.slick-prev:before, .slick-next:before {
  font-size: 40px;
  /* color: rgba(0, 0, 0, 0.5); */
  
}

/* Responsive Design - Mobile & Tablet */
@media (max-width: 768px) {
  .carousel-container {
    height: 60vh; 
  }

  .carousel-item {
    height: 60vh; 
  }
  .animated-title{
    font-size: 1.5rem !important
  }

  .animated-word{
    font-size: 0.7rem !important;
  }

  .slick-prev,
  .slick-next {
    font-size: 24px; /* Adjust the arrow size */
  }
  .slick-prev{
    left: 6px;
  }
  .slick-next{
    right: 6px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .carousel-container {
    height: 50vh; /* Further reduce height on very small screens */
  }

  .carousel-item {
    height: 50vh; /* Adjust the height of the carousel items */
  }

  .animated-title {
    font-size: 1.5rem !important; 
    margin-bottom: 10px; 
  }

  .animated-word{
    font-size: 0.7rem !important;
  }
  .animated-description{
    font-size: 0.5rem !important;
  }

  .slick-prev,
  .slick-next {
    font-size: 20px;
  
     /* Smaller arrow size on mobile */
  }
  .slick-prev{
    left: 6px;
  }
  .slick-next{
    right: 6px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 20px;
  }

}

/* Adding animation effects */
.animated-word {
  display: inline-block;
  font-size: 1.5rem; 
  font-weight: lighter;
  margin-right: 5px; 
}

.world-in-motion {
  background-image: url('../img/About.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 600px;
}

h1 {
  margin-top: 0; /* Remove any default margin */
  padding-top: 0; /* Remove any padding */
}

h1 span {
  display: inline; /* Ensure spans are inline with the h1 */
  font-family: "Inter", "Inter Placeholder", sans-serif;
}

.icon img {
  max-height: 150px;
  object-fit: contain;
}

.world-in-motion h1 {
  position: relative; 
  white-space: nowrap;
  font-size: 2.5rem; 
}
.world-in-motion h1 span {
  display: block; /* Makes the second span act like a block element */
}

.world-in-motion h1 span:last-child {
  margin-top: 10px; /* Adds space between the two lines */
}

.world-in-motion h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50px; 
  width: 100%;
  border-bottom: 1px solid #141414; 
}

.world-in-motion .row {
  margin-top: 150px; /* Adjust space between heading and columns */
}


.text-column {
  text-align: left; /* Keeps the text left-aligned */
  margin-left: 80px; /* Adds a left margin to create a gap */
}
  
  .image-column img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    max-height: 600px;
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container */
  }
  
  .bg-custom {
    background-color: var(--background); 
    height: 100%; 
  
  }


  .image-wrapper {
    position: relative;
    overflow: hidden; /* Hide overflow to keep the text hidden initially */
  }
  
  .normal-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  .image-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: auto; /* Ensure it takes up the full height */
    overflow: hidden;
  }
  
  /* Add background gradient to the image text container */
  .image-text {
    position: absolute;
    bottom: -50px; /* Initially hidden below the image */
    left: 0;
    width: 100%;
    color: #fff;
    padding: 15px;
    transition: bottom 0.3s ease-in-out, background-image 0.5s ease-in-out; /* Transition for smooth sliding and background change */
    background-image: linear-gradient(to bottom, rgba(0, 67, 241, 0), #0043f1 50%); /* Initial background gradient covering 50% of the height */
    background-size: 100% 200%; /* Adjust background size to fill more height */
    z-index: 1; /* Ensure text stays on top */
  }
  
  /* Image styling */
  .image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Hover effect */
  .image-wrapper:hover .image-text {
    cursor: pointer;
    bottom: 0; /* Bring the text up */
    background-image: linear-gradient(to bottom, rgba(0, 67, 241, 0), #0043f1 100%); /* Gradient expands to full height on hover */
    background-size: 100% 100%; /* Full background coverage */
  } 